# LIB, CLASS, HELPERS

In [140]:
from sqlalchemy import create_engine, text, inspect
import pandas as pd

class DatabaseRepo:
    def __init__(self, engine):
        self.engine = engine
      
    def list_tables(self):
        
        inspector = inspect(self.engine)
        
        return inspector.get_table_names()
    
    def show_tables(self):
        with self.engine.begin() as conn:
            
            tables = self.list_tables()
            
            for table in tables:
                table_row_counts = conn.execute(text(
                    f"""
                    SELECT COUNT(*) FROM {table}
                    """
                    ))
                             
                result = conn.execute(
                    text("""
                        SELECT
                            column_name,
                            data_type,
                            is_nullable
                        FROM information_schema.columns
                        WHERE table_schema = 'public' AND table_name = :table_name
                        """
                        ),
                        {"table_name": table}
                    )
                
                columns = result.fetchall()
                
                
                print('\n---')
                print('Table name:', table)
                print('Number of records:', table_row_counts.scalar())
                print('Column | Type | Nullable')
                print('------   ----  --------')
                for col in columns:
                    print(col)
    
    
    def load_table(self, table_name, limit=None):
        
        limit_clause = f"LIMIT {limit}" if limit else ""
        sql = f"SELECT * FROM {table_name} {limit_clause}"
        
        df = pd.read_sql(sql, self.engine)
        
        return df
    
    def insert_data(self, df, table_name, if_exists='replace'):
        n_inserted = df.to_sql(
            name=table_name,
            con=self.engine,
            if_exists=if_exists,
            index=False,
            method='multi',
            chunksize=1000
            )
        
        return {
            'transaction_successful': True,
            'records_inserted': n_inserted
            }
    
    def read_table(self, table_name, limit=None):
            # Create SQL query (with optional limit)
            if limit:
                sql = text(f"SELECT * FROM {table_name} LIMIT {limit}")
            else:
                sql = text(f"SELECT * FROM {table_name}")

            # Retrieve data, read into DataFrame
            df = pd.read_sql(
                	sql=sql, 
        			con=self.engine
                    )

            # Return DataFrame
            return df
        
    def clean_table(self, table_name):
        with self.engine.begin() as conn:
            conn.execute(text(f"TRUNCATE TABLE {table_name}"))

In [141]:
engine = create_engine(
    # dialect+driver://username:password@host/database
    "mysql+mysqlconnector://root:123@localhost/eedi_question_bank",
    
    # Prevent stale / dropped connections
    pool_pre_ping=True,
    
    # Enforces clearer transaction boundaries
    future=True
    )

repo = DatabaseRepo(engine)

In [142]:
repo.list_tables()

['construct',
 'misconception',
 'question',
 'question_choice_misconception',
 'question_construct_topic',
 'stg_construct',
 'stg_misconception',
 'stg_question',
 'stg_topic',
 'topic']

# ENTITY

## construct

In [143]:
file_path = 'construct.csv'
df_construct = pd.read_csv(file_path)
df_construct

     construct_id                                     construct_name
0             856  Use the order of operations to carry out calcu...
1            1612  Simplify an algebraic fraction by factorising ...
2            2774            Calculate the range from a list of data
3            2377  Recall and use the intersecting diagonals prop...
4            3387  Substitute positive integer values into formul...
..            ...                                                ...
752           988  Sketch curves in the form (x + a)(x + b) indic...
753          1549  Given a positive x value, find the correspondi...
754          1874  Calculate distance where speed and time are in...
755          2904  Identify when it is appropriate to use a line ...
756          2634      Distinguish between congruency and similarity

[757 rows x 2 columns]

In [144]:
repo.insert_data(df=df_construct, table_name='stg_construct', if_exists='replace')

{'transaction_successful': True, 'records_inserted': 757}

In [145]:
def upsert_construct_data():
    sql = text("""
    INSERT INTO construct (
        construct_id,
        construct_name
        )
    SELECT
        construct_id,
        construct_name
    FROM stg_construct AS src
    ON DUPLICATE KEY UPDATE
        construct_name = src.construct_name;               
    """)

    with engine.begin() as conn:
        result = conn.execute(sql)

upsert_construct_data()

In [146]:
# Verify final table
df_construct = repo.read_table('construct')
df_construct.head()

   construct_id                                     construct_name
0             4                          Count a number of objects
1            10  Count backwards in steps of of something other...
2            18                    Write 3 digit numbers as words
3            20           Write 5 digit numbers and above as words
4            26        Express words as 5 digit numbers and above

## topic

In [147]:
file_path = 'topic.csv'
df_topic = pd.read_csv(file_path)
df_topic.head()

   topic_id                                         topic_name
0        33                                             BIDMAS
1      1077                    Simplifying Algebraic Fractions
2       339  Range and Interquartile Range from a List of Data
3        88                       Properties of Quadrilaterals
4        67                          Substitution into Formula

In [148]:
repo.insert_data(df=df_topic, table_name='stg_topic', if_exists='replace')

{'transaction_successful': True, 'records_inserted': 163}

In [149]:
def upsert_topic_data():
    sql = text("""
        INSERT INTO topic (
            topic_id,
            topic_name
            )
        SELECT
            topic_id,
            topic_name
        FROM stg_topic AS src
        ON DUPLICATE KEY UPDATE
            topic_name = src.topic_name;
    """)

    with engine.begin() as conn:
        conn.execute(sql)

upsert_topic_data()

In [150]:
# Verify upsert
df_topic = repo.read_table('topic')
df_topic.head()

   topic_id                 topic_name
0        33                     BIDMAS
1        34     Upper and Lower Bounds
2        41                Basic Money
3        47              Standard Form
4        50  Expanding Single Brackets

## misconception

In [151]:
file_path = 'misconception.csv'
df_misconception = pd.read_csv(file_path)
df_misconception.head()

   misconception_id                                 misconception_name
0                 0  Does not know that angles in a triangle sum to...
1                 1  Uses dividing fractions method for multiplying...
2                 2      Believes there are 100 degrees in a full turn
3                 3  Thinks a quadratic without a non variable term...
4                 4  Believes addition of terms and powers of terms...

In [152]:
repo.insert_data(df=df_misconception, table_name='stg_misconception', if_exists='replace')

{'transaction_successful': True, 'records_inserted': 2587}

In [153]:
def upsert_misconception_data():
    sql = text("""
        INSERT INTO misconception (
               misconception_id,
               misconception_name
               )
        SELECT
               misconception_id,
               misconception_name
        FROM stg_misconception AS src
        ON DUPLICATE KEY UPDATE
               misconception_name = src.misconception_name;
        """)
    
    with engine.begin() as conn:
        conn.execute(sql)
    
upsert_misconception_data()

In [154]:
# Verify after upsert
df_misconception = repo.read_table('misconception')
df_misconception.head()

   misconception_id                                 misconception_name
0                 0  Does not know that angles in a triangle sum to...
1                 1  Uses dividing fractions method for multiplying...
2                 2      Believes there are 100 degrees in a full turn
3                 3  Thinks a quadratic without a non variable term...
4                 4  Believes addition of terms and powers of terms...

## question

In [155]:
file_path = 'question.csv'
df_question = pd.read_csv(file_path)
df_question

,question_id,construct_id,topic_id,correct_answer,question_text,answer_a_text,answer_b_text,answer_c_text,answer_d_text,misconception_a_id,misconception_b_id,misconception_c_id,misconception_d_id
0,0,856,33,A,\[\n3 \times 2+4-5\n\]\nWhere do the brackets ...,\( 3 \times(2+4)-5 \),\( 3 \times 2+(4-5) \),\( 3 \times(2+4-5) \),Does not need brackets,NaN,NaN,NaN,1672.0
1,1,1612,1077,D,"Simplify the following, if possible: \( \frac{...",\( m+1 \),\( m+2 \),\( m-1 \),Does not simplify,2142.0,143.0,2142.0,NaN
2,2,2774,339,B,Tom and Katie are discussing the \( 5 \) plant...,Only\nTom,Only\nKatie,Both Tom and Katie,Neither is correct,1287.0,NaN,1287.0,1073.0
3,3,2377,88,C,The angles highlighted on this rectangle with ...,acute,obtuse,\( 90^{\circ} \),Not enough information,1180.0,1180.0,NaN,1180.0
4,4,3387,67,A,The equation \( f=3 r^{2}+3 \) is used to find...,\( 30 \),\( 27 \),\( 51 \),\( 24 \),NaN,NaN,NaN,1818.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,1864,2774,339,C,What is the range of the following numbers?\n\...,\( 5 \),\( 11 \),\( 23 \),\( 16 \),2456.0,691.0,NaN,1349.0
1865,1865,2695,90,B,Shape \( Q \) is an enlargement of shape \( P ...,\( 3 \div 11 \),\( 11 \div 3 \),\( 3 \times 11 \),\( 11-3 \),1500.0,NaN,2442.0,1258.0
1866,1866,854,33,B,What does the following equal?\n\[\n8-7+10 \ti...,\( 36 \),\( 31 \),\( -29 \),\( 33 \),NaN,NaN,2306.0,1507.0
1867,1867,2634,274,B,Tom and Katie are discussing congruence and si...,Only\nTom,Only Katie,Both Tom and Katie,Neither is correct,2312.0,NaN,2312.0,2312.0
1868,1868,2680,93,B,Jo and Paul are arguing about how to fully des...,Only\nJo,Only Paul,Both Jo and Paul,Neither is correct,801.0,NaN,801.0,95.0

In [156]:
repo.insert_data(df=df_question, table_name='stg_question', if_exists='replace')

{'transaction_successful': True, 'records_inserted': 1869}

In [157]:
def upsert_question_data():
    sql = text(
        """
        INSERT INTO question (
            question_id,
            question_text
            )
        SELECT
            question_id,
            question_text
        FROM stg_question AS src
        ON DUPLICATE KEY UPDATE
            question_text = src.question_text;
        """
    )

    with engine.begin() as conn:
        conn.execute(sql)

upsert_question_data()

In [158]:
# Verify upsert
df_question = repo.read_table('question')
df_question.head()

   question_id                                      question_text
0            0  \[\n3 \times 2+4-5\n\]\nWhere do the brackets ...
1            1  Simplify the following, if possible: \( \frac{...
2            2  Tom and Katie are discussing the \( 5 \) plant...
3            3  The angles highlighted on this rectangle with ...
4            4  The equation \( f=3 r^{2}+3 \) is used to find...

# JUNCTION

## question_construct_topic

In [159]:
df_question = pd.read_csv('question.csv')
df_question_construct_topic = df_question[['question_id', 'construct_id', 'topic_id']]
df_question_construct_topic.head()

   question_id  construct_id  topic_id
0            0           856        33
1            1          1612      1077
2            2          2774       339
3            3          2377        88
4            4          3387        67

In [160]:
repo.insert_data(df=df_question_construct_topic, table_name='question_construct_topic', if_exists='replace')

{'transaction_successful': True, 'records_inserted': 1869}

In [161]:
# Verify table
df_question_construct_topic = repo.read_table('question_construct_topic', limit=5)
df_question_construct_topic

   question_id  construct_id  topic_id
0            0           856        33
1            1          1612      1077
2            2          2774       339
3            3          2377        88
4            4          3387        67

## question_choice_misconception

In [162]:
df_question = pd.read_csv('question.csv')
df_question.head()
# df_question.columns

,question_id,construct_id,topic_id,correct_answer,question_text,answer_a_text,answer_b_text,answer_c_text,answer_d_text,misconception_a_id,misconception_b_id,misconception_c_id,misconception_d_id
0,0,856,33,A,\[\n3 \times 2+4-5\n\]\nWhere do the brackets ...,\( 3 \times(2+4)-5 \),\( 3 \times 2+(4-5) \),\( 3 \times(2+4-5) \),Does not need brackets,NaN,NaN,NaN,1672.0
1,1,1612,1077,D,"Simplify the following, if possible: \( \frac{...",\( m+1 \),\( m+2 \),\( m-1 \),Does not simplify,2142.0,143.0,2142.0,NaN
2,2,2774,339,B,Tom and Katie are discussing the \( 5 \) plant...,Only\nTom,Only\nKatie,Both Tom and Katie,Neither is correct,1287.0,NaN,1287.0,1073.0
3,3,2377,88,C,The angles highlighted on this rectangle with ...,acute,obtuse,\( 90^{\circ} \),Not enough information,1180.0,1180.0,NaN,1180.0
4,4,3387,67,A,The equation \( f=3 r^{2}+3 \) is used to find...,\( 30 \),\( 27 \),\( 51 \),\( 24 \),NaN,NaN,NaN,1818.0

In [163]:
df_question_choice_text = (
    df_question
    .rename(
        columns={
        'answer_a_text': 'A', 
        'answer_b_text': 'B', 
        'answer_c_text': 'C', 
        'answer_d_text': 'D'
        })
    .melt(
        id_vars='question_id',
        var_name='choice_code',
        value_vars=['A', 'B', 'C', 'D'],
        value_name='choice_text'
    )
)
    

df_question_choice_text

      question_id choice_code            choice_text
0               0           A  \( 3 \times(2+4)-5 \)
1               1           A              \( m+1 \)
2               2           A              Only\nTom
3               3           A                  acute
4               4           A               \( 30 \)
...           ...         ...                    ...
7471         1864           D               \( 16 \)
7472         1865           D             \( 11-3 \)
7473         1866           D               \( 33 \)
7474         1867           D     Neither is correct
7475         1868           D     Neither is correct

[7476 rows x 3 columns]

In [164]:
df_question_misconception_id = (
    df_question
    .rename(columns={
        'misconception_a_id': 'A',
        'misconception_b_id': 'B',
        'misconception_c_id': 'C',
        'misconception_d_id': 'D',
        })
    .melt(
        id_vars='question_id',
        var_name='choice_code',
        value_vars=['A', 'B', 'C', 'D'],
        value_name='misconception_id'
        )
    )

df_question_misconception_id

      question_id choice_code  misconception_id
0               0           A               NaN
1               1           A            2142.0
2               2           A            1287.0
3               3           A            1180.0
4               4           A               NaN
...           ...         ...               ...
7471         1864           D            1349.0
7472         1865           D            1258.0
7473         1866           D            1507.0
7474         1867           D            2312.0
7475         1868           D              95.0

[7476 rows x 3 columns]

In [165]:
df_question_correct_choice = df_question[['question_id', 'correct_answer']].copy()
df_question_correct_choice['is_correct'] = 1
df_question_correct_choice = df_question_correct_choice.rename(columns={'correct_answer': 'choice_code'})
df_question_correct_choice

      question_id choice_code  is_correct
0               0           A           1
1               1           D           1
2               2           B           1
3               3           C           1
4               4           A           1
...           ...         ...         ...
1864         1864           C           1
1865         1865           B           1
1866         1866           B           1
1867         1867           B           1
1868         1868           B           1

[1869 rows x 3 columns]

In [166]:
# Merge all
df_question_choice_misconception = (
    df_question_choice_text
    .merge(df_question_misconception_id, on=['question_id', 'choice_code'], how='outer')
    .merge(df_question_correct_choice, on=['question_id', 'choice_code'], how='outer')
    )

df_question_choice_misconception['is_correct'] = df_question_choice_misconception['is_correct'].fillna(0).astype(int)

df_question_choice_misconception['misconception_id'] = df_question_choice_misconception['misconception_id'].apply(
    lambda x: int(x) if not pd.isna(x) else None
)

df_question_choice_misconception

,question_id,choice_code,choice_text,misconception_id,is_correct
0,0,A,\( 3 \times(2+4)-5 \),NaN,1
1,0,B,\( 3 \times 2+(4-5) \),NaN,0
2,0,C,\( 3 \times(2+4-5) \),NaN,0
3,0,D,Does not need brackets,1672.0,0
4,1,A,\( m+1 \),2142.0,0
...,...,...,...,...,...
7471,1867,D,Neither is correct,2312.0,0
7472,1868,A,Only\nJo,801.0,0
7473,1868,B,Only Paul,NaN,1
7474,1868,C,Both Jo and Paul,801.0,0
7475,1868,D,Neither is correct,95.0,0

In [167]:
repo.insert_data(df=df_question_choice_misconception, table_name='question_choice_misconception', if_exists='replace')

{'transaction_successful': True, 'records_inserted': 7476}

In [168]:
# Verify insert
df_question_choice_misconception = repo.read_table('question_choice_misconception')
df_question_choice_misconception.head(10)

,question_id,choice_code,choice_text,misconception_id,is_correct
0,0,A,\( 3 \times(2+4)-5 \),NaN,1
1,0,B,\( 3 \times 2+(4-5) \),NaN,0
2,0,C,\( 3 \times(2+4-5) \),NaN,0
3,0,D,Does not need brackets,1672.0,0
4,1,A,\( m+1 \),2142.0,0
5,1,B,\( m+2 \),143.0,0
6,1,C,\( m-1 \),2142.0,0
7,1,D,Does not simplify,NaN,1
8,2,A,Only\nTom,1287.0,0
9,2,B,Only\nKatie,NaN,1